.aboutus .contentDownload h4{
   padding: 20px 0 0 0 !important; 
}
.aboutus h5, .h5 {
    font-size: 18px;
}

.aboutus .listStyles{
    color: black;
 font-size: 18px;
    font-weight: bold;
}
.aboutus .titleSub{
	color: #E62037;
    font-weight: bold;
}
.aboutus .ulStyle{
      padding-left: 17px;
}
.aboutus .liStyle{
list-style: circle;
    list-style-position: outside;
}
.aboutus p{
margin:20px 0px;
}

.aboutus .portlet-body .journal-content-article .contentDownload h4{
	font-size: 24px;
}
.aboutus .journal-content-article p {
    font-size: 14px;
}

