
.accessibilityStatement .portlet-body .breadcrumb {

	height: 30px;
}

.accessibilityStatement .accessibilityStatement h4{
padding:0px 0px;
}
.accessibilityStatement .accessibilityStatement .contentDownload p{
margin:20px 0px;
}
.accessibilityStatement h4,.accessibilityStatement .h4 {
    font-size: 24px;
}
.accessibilityStatement .journal-content-article p {
    font-size: 14px;}
