#signinmodal{height: 515px !important;}
#signinmodal .modal-content{
background-color: #E62037;
box-shadow:0 2px 3px 0 #E62037;
border-bottom:none;
background-color: #ffffff;
border: 1px solid #E62037;
border-radius: 4px;
}

#signinmodal .modal-header {
    border-bottom:none;
	background-color: #ffffff;
}
#signinmodal .modal-title {
color: #E62037;
font-weight: bold;
}
#signinmodal .modal-body{
background-color:#ffffff;
    padding: 15px;
	height: 450px!important;
}
#signinmodal .login-container .fieldset .form-group input[type="text"],
#signinmodal .login-container .fieldset .form-group input[type="email"],
#signinmodal .login-container .fieldset .form-group input[type="password"]{
border: 1px solid #ddd;
font-size: 16px;
height: 45px;
transition: all 0.1s linear 0s;
border-radius:4px
}
#signinmodal .form-group.form-inline.input-checkbox-wrapper{text-align:center; text-align: left;}
#signinmodal .form-group.form-inline.input-checkbox-wrapper label{
    font-weight: bold; 
    color: #000;
}
#signinmodal .login-container .input-container .button-holder button{
    background-color: transparent;
    border-color: #e62037;
    text-transform: uppercase;
    font-size: 14px;
    height: auto;
    padding: 8px 15px;
    font-weight: bold;
    outline: medium none;
    max-width: 128px;
    border-radius: 2px;
    color: black;
    min-width: 80px;
}
#signinmodal .login-container .input-container .button-holder button:hover,#signinmodal .login-container .input-container .button-holder button:active,#signinmodal .login-container .input-container .button-holder button:focus{ 
background-color:#e62307;
color:#fff;
}
#signinmodal .navigation ul.list-unstyled.taglib-icon-list i.icon-plus+span {
    font-weight: bold;
    color: black;
}

#signinmodal .login-container .navigation ul>li:nth-child(1), #signinmodal .login-container .navigation ul>li:nth-child(2) {
margin-right: 10px;
width: 45px;

}

#signinmodal .navigation ul.list-unstyled.taglib-icon-list ul>li:nth-child(3) i.icon-plus+span:hover,#signinmodal .navigation ul.list-unstyled.taglib-icon-list ul>li:nth-child(3) i.icon-plus+span:focus,#signinmodal .navigation ul.list-unstyled.taglib-icon-list ul>li:nth-child(3) i.icon-plus+span:active {
    color: white;
    text-decoration: none;
}

.telkomContactus .required-warning {
    margin: 0!important;
    font-weight: bold;
}

#signinmodal .login-container .navigation ul li a i.icon-facebook{
    text-align: center;
    text-decoration: none;
    margin-left: 8px;
    background: #3B5998;
    color: white;
    font-size: 31px;
    padding: 2px 0 2px 10px;
    border-radius: 7px;
}


#signinmodal .taglib-text .btn-primary {
    color: #ffffff;
    background-color: #e62037;
    border-color: #e62037;}
#signinmodal .btn-lg, .btn-group-lg>.btn {
    padding: 13px 13px;
    font-size: 16px;
    border-radius: 0px;}
#signinmodal .btn-primary {
    color: #ffffff;
    background-color: #e62037;
    border-color: #e62037;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet .portlet-content-container .navigation .lfr-icon-item.taglib-icon{
    color: #008cff !important;
    font-weight: bold;
} 


 #signinmodal .login-container form fieldset{margin-bottom:0px;}


#signinmodal .login-container .navigation ul > li:nth-child(2) {
    width: 31%;
}


section#portlet_com_liferay_login_web_portlet_LoginPortlet .g-recaptcha {
    margin-top: 0px !important;
}

#signinmodal .navigation ul.list-unstyled.taglib-icon-list i.icon-facebook + span {
    display: none;
}


#signinmodal .navigation ul.list-unstyled.taglib-icon-list i.icon-google-plus-sign + span {
    display: none;
}

#signinmodal .navigation ul.list-unstyled.taglib-icon-list i.icon-plus + span {
    font-weight: bold;
    color: #fff;
}

#signinmodal .navigation ul.list-unstyled.taglib-icon-list i.icon-google-plus-sign {
    color: #d03333 !important;
    font-size: 39px;
   
}


#signinmodal .navigation ul.list-unstyled.taglib-icon-list .icon-facebook:before {
content: "\f09a"; 
padding-right: 10px; 
margin-top: 4px;
}






#signinmodal .logintext {
    float: left;
	
 }


#signinmodal .navigation ul.list-unstyled.taglib-icon-list i.icon-plus {
    display: none;
}




#signinmodal .form-group.input-text-wrapper .control-label {
    margin-top: 0px;
    color: black;
}

#portlet_com_liferay_login_web_portlet_LoginPortlet .navigation ul.list-unstyled .taglib-icon-list .icon-signin{ margin-left:560px;}

@media (max-width: 767px){
 #signinmodal .modal-body{top:0;}
 }
 
@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation : portrait){#signinmodal .login-container .button-holder {margin-left : 0px;}}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){
	#signinmodal .login-container .button-holder {margin-left : 0px;}

}

@media screen and (max-width: 767px) and (min-width: 320px){ 
.button-holder{
        width: 100%;
    margin: 0px auto 20px auto;

}
#_com_liferay_login_web_portlet_LoginPortlet_fm > fieldset > div > div.button-holder button {
    margin-bottom: 15px !important;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet>div>div>div>div.logintext {
    float: left;
    width: 25% !important;
    word-wrap: normal;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet .navigation ul.list-unstyled.taglib-icon-list i.icon-facebook {
    padding: 3px 0 0 14px;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    background: #3b5998;
    color: white;
    border-radius: 6px;
    margin-left: 0px;
}
.taglib-icon-list li {
    float: left;
    margin-right: 10px;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet .navigation ul.list-unstyled.taglib-icon-list i.icon-google-plus-sign {
    font-size: 45px;
    text-decoration: none;
    color: #d03333!important;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet .navigation>ul>li:nth-child(1) {
    width: auto !important;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet .navigation ul.list-unstyled.taglib-icon-list i.icon-facebook {
   font-size: 31px !important;
    text-align: center;
    text-decoration: none;
    background: #3b5998;
    color: white;
    border-radius: 6px;
    margin-left: 4px;
    display: inline-block;
    overflow: hidden;
    margin-top: 3px;

}
}

@media screen and (max-width: 980px) and (min-width: 320px){ 
#_com_liferay_login_web_portlet_LoginPortlet_fm > fieldset > div > div:nth-child(2) > div.form-group.input-text-wrapper {
    margin-top: 0px !important;
}
}


