/*NOTE: This css are Comman in every page
-----

order_class  */



.myaccountnav .list-menu ul.level-1>li.lfr-nav-item.open.selected.active>a {
    background-color: #e62037;
    color: white;
    padding: 8px 15px !important;
    font-size: 15px;
    display: block;
    width: 100%;

}
.myaccountnav .list-menu ul.level-2{
    padding: 10px 10px;
    width:100%;
}
.myaccountnav .list-menu ul.level-2 li{
                border-bottom: 2px solid darkgrey;
    padding: 5px;
}




/*My Order  */


.table-header{
	background:#E62037;
	color:white;
}

.table-body{
	background:	#d0e9ff ;
}



.heading h4{
color: white;
    font-size: 15px;

}

 /*My Saved Cards */

.card1 h4 {
	margin-left:-8;
	display: inline-block;
	color: black;
	font-size: 14px;
}

.card1 label {
	font-size: 10px;
	color: black;
	display: inline-block;
}

.card1 a {
	margin-left: 15px;
	color: 000040;
}

.card1 a:hover {
	margin-left: 15px;
	color: 000040 !important;
}

.add-button {
	margin-top: 5px;
}



.heading {
	padding:8px 15px;
	color: white;
	font-size: 15px;
}



.image_card {
	margin-top: 10px;
}

.card-details {
	margin-left: -8px;
	margin-top: 30px;
}

.card-details h3{
	font-size: 28px;
	color: black;
}

.card-details h4{
	font-size: 24px;
	color: black;
}

.order_list {
    margin-top: 0px;
    width: 100%;

}

.add-button{
	margin-top: 20px;
	display:inline-block;
}

.add-button>button:hover {

	background-color: #E62037;
}
.add-button a{
	margin-left:20px;
}

.add_card {
	margin-top: 50px;
}



.date_size {
	width: 50%;
}

.type_card {
	color: #E62037;
}

.change{
	color:black;

}



 /*My Bookmark */

.wishlist{
	border:2px solid red;
	height:auto;
	margin-left:20px;
	margin-top:20px;
	width:95%;
}

.wishdes{
	margin-left:0px;
}
.wishlistmore{
	margin-top :10px;
	margin-left:100px;
	color: #ffffff;
    background-color: #E62037;
    border-color: #E62037;
}

.wishlistmore:hover{
	margin-left:100px;
	color: #ffffff;
    background-color: #E62037;
    border-color: #E62037;
}
.wishclose{
	border:20px circle red;
}






.wishlistclose{
	margin-top :0px;
	margin-left: 15px;
	opacity:1;
	position: relative; 
 	right: -12px; 
 	top: 21px;
}

.wishcross {
    color: white;
    background-color: #e62037;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 20px;
    width: 25px;
    text-decoration: none;
    margin: 20px 2px;
}

button.close.wishlistclose {
    margin-top: 10px;
}



.description{
	margin-top:5px;
}

.read_more{
	margin-top: 0px;
	margin-bottom:5px;
}



  /*My Profile  */



.user_heading{
	border-top: 2px solid #ee3124;
    border-bottom: 2px solid #ee3124;
    background-color: #e62037;

}




   /*Update Profile  */








.btn-new{
	border-radius : 0px !important;
}





.profile-image{
	margin-left:12px;
	clear:both !important;
}

  /*Key Management  */





.keytable{
	margin-top:20px;
}



.theader{
	font-weight:bold;
	background: #a1d4ff;
}

.thbody{
	background:#c0e2ff;
}

   /*Update Password  */


.order_class{
    margin-top: 20px;	
}


.order_side{
	float:right;
}





.position{
	float:right;
}




/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait){
    .myaccountnav .list-menu ul.level-2 {width: 32%;}
}
/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape){
                .myaccountnav .list-menu ul.level-2 {width: 93%;}
}
/****phone*****/
@media screen and (max-width: 767px) and (min-width: 320px){
                .myaccountnav .list-menu ul.level-2 {width:78%;}
}
