/*---- signup page---*/
.signed-out #wrapper .portlet-layout .portlet-boundary #portlet_com_liferay_login_web_portlet_LoginPortlet{
	box-shadow: 0 2px 3px 0 #ee3124;
	border: 1px solid #ee3124;
	margin-top: 15px;
	padding:10px;
}
.signed-out #wrapper .portlet-layout .portlet-boundary #portlet_com_liferay_login_web_portlet_LoginPortlet .portlet-body .form-control:focus {
    border-color:#ddd;
	color: #2c3e50;
	}
.signed-out #wrapper .portlet-layout .portlet-boundary #portlet_com_liferay_login_web_portlet_LoginPortlet a.portlet-icon-back{
	border: 1px solid red;
    border-radius: 10px;
    margin: 10px 0;
    background-color: red;
    color: white;
 }
#portlet_com_liferay_login_web_portlet_LoginPortlet .email{background-color: #fff;}
#portlet_com_liferay_login_web_portlet_LoginPortlet #_com_liferay_login_web_portlet_LoginPortlet_fm .button-holder button{
    background-color: transparent !important;
    border-color: #ee3124;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 0!important;
    color: black;
    min-width: 80px;
    max-width: 154px;
    padding: 8px 15px;
   outline:none;
}


.flipped .form .fieldset .g-recaptcha {
    position: relative !important;
}


#portlet_com_liferay_login_web_portlet_LoginPortlet #_com_liferay_login_web_portlet_LoginPortlet_fm .button-holder button:hover, #portlet_com_liferay_login_web_portlet_LoginPortlet #_com_liferay_login_web_portlet_LoginPortlet_fm .button-holder button:active, #portlet_com_liferay_login_web_portlet_LoginPortlet #_com_liferay_login_web_portlet_LoginPortlet_fm .button-holder button:focus {
   background-color: #e62037 !important;
    color: #fff;
}

#portlet_com_liferay_login_web_portlet_LoginPortlet .form-group {
    margin: 20px 0px !important;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet .has-success .control-label{
     color: #000000;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet .has-success .form-control, .has-success .form-control:focus {
    border: 2px solid #ddd;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet .form-control {
                font-size:14px;
                }
#portlet_com_liferay_login_web_portlet_LoginPortlet .portlet-content-container .navigation .lfr-icon-item.taglib-icon .taglib-text {
    color: #008cff;
    font-weight: bold;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet .portlet-content-container .navigation .lfr-icon-item.taglib-icon .icon-plus {
    color: #008cff;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet .portlet-content-container .navigation .lfr-icon-item.taglib-icon .icon-signin {
    color: #008cff;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet .portlet-content-container .navigation .lfr-icon-item.taglib-icon .taglib-text:focus,#portlet_com_liferay_login_web_portlet_LoginPortlet .portlet-content-container .navigation .lfr-icon-item.taglib-icon .taglib-text:hover{
text-decoration:underline;
}

#_com_liferay_login_web_portlet_LoginPortlet_fm > fieldset > div > div:nth-child(2) > div.form-group.input-text-wrapper {
    margin-top: 60px !important;
}

       

@media screen and (max-width: 767px) and (min-width: 320px){
	#portlet_com_liferay_login_web_portlet_LoginPortlet #_com_liferay_login_web_portlet_LoginPortlet_fm .button-holder button{
		margin-left:25%;
	}
}
#portlet_com_liferay_login_web_portlet_LoginPortlet  .navigation ul li a{color:#706f6f;}


#portlet_com_liferay_login_web_portlet_LoginPortlet .navigation ul.list-unstyled.taglib-icon-list i.icon-google-plus-sign {
    font-size: 45px;
    text-decoration: none;
    color: #d03333 !important;
    margin-left: -5px;
 }


#portlet_com_liferay_login_web_portlet_LoginPortlet .navigation ul.list-unstyled.taglib-icon-list i.icon-facebook {
    padding: 3px 0px 0px 14px;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    background: #3B5998;
    color: white;
    border-radius: 6px;
    margin-left: 4px;
}

#portlet_com_liferay_login_web_portlet_LoginPortlet .navigation ul.list-unstyled.taglib-icon-list .icon-facebook:before {
    content: "\f09a";
    padding-right: 10px;
	margin-top: 6px;
}


#portlet_com_liferay_login_web_portlet_LoginPortlet .navigation ul.list-unstyled.taglib-icon-list i.icon-facebook + span {
    display: none;
}


#portlet_com_liferay_login_web_portlet_LoginPortlet .navigation ul.list-unstyled.taglib-icon-list i.icon-google-plus-sign + span {
    display: none;
}


#portlet_com_liferay_login_web_portlet_LoginPortlet > div > div > div > div.logintext{
    float: left;
    width: 7%;
}

#portlet_com_liferay_login_web_portlet_LoginPortlet .navigation > ul > li:nth-child(1) {
 width: 5%;
} 

a.taglib-icon:focus .taglib-text, a.taglib-icon:hover .taglib-text {
    text-decoration: none;
}



