.userService h4{
padding:0px !important;
font-size:24px;
}
.userService p{
padding:20px 0px 0px 0px;

}
.userService .journal-content-article p {
    font-size: 14px;
   margin: 20px 0px;
   padding: 0px !important; 
}


